.HealthFormContainer {
    display: flex;
    justify-content: center;
}

.HealthForm {
    width: 50%;
}

.Header-Login-HealthForm {
    background-image: none;
    background-color: #008B38;
}

.Header-Login-HealthForm .Form-header {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
}

.MuiInputBase-input {
    font-size: 1.4rem!important;
}

.MuiInputLabel-animated {
    font-size: 1.8rem!important;
    font-weight: 700!important;
}

.MuiTypography-body1 {
    font-size: 1.8rem!important;
    color: #757575!important;
    font-weight: 700!important;
}

.MuiFormControl-fullWidth {
    margin-bottom: 1.5rem!important;
}

svg {
    font-size: 3rem!important;
}

.btn {
    width: 100%;
    background-color: #008B38!important;
    font-size: 1.8rem!important;
}

.btn:hover {
    background-color: #681f55!important;
    color: #ffffff!important;
}