.footer {
    width: 100%;
    border-top-left-radius: 20rem;
    border-top-right-radius: 20rem;
    padding: 10rem;
    margin-top: 10rem;
    background-color: #ffffff;

    display: flex;
    justify-content: space-between;
    color:  #008B38;
    font-family: 'Domine', sans-serif;
    
}

.footer-subheading {
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.contactus,
.customerService,
.information {
    display: flex;
    flex-direction: column;
}

.btn-primary--footer {
    background: linear-gradient(
      to right, 
      #008B38,
      #43BF73
      );
      border: none;
}

.btn-primary--footer:hover {
    background-color: #F31A1A;
    border: none;
}